<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554542066408-4ja70rin7m5skfv5tdhihi8jc20vd9vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554542066408-4ja70rin7m5skfv5tdhihi8jc20vd9vv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554542066408-6v8r2oqkj7qd24s99jtvr8mq470hs1qp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcTw-UynI4C8_Z5nIpROGA9e7Nwo6gvdE</string>
	<key>GCM_SENDER_ID</key>
	<string>554542066408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.hellobo.app</string>
	<key>PROJECT_ID</key>
	<string>bo-beresol</string>
	<key>STORAGE_BUCKET</key>
	<string>bo-beresol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554542066408:ios:45ecc45a3b5a659f63f75d</string>
</dict>
</plist>